---
import { Image } from "astro:assets";
const { heading, subHeading, projectContent, projectImage, order } = Astro.props;
---

<div class="group relative">
  <div class="absolute -inset-0 rounded-lg bg-gradient-to-r from-blue2/50 to-green2/50 opacity-20 transition duration-500 group-hover:opacity-50">
  </div>
  <div class="relative grid grid-cols-1 w-full gap-1 lg:grid-cols-2 rounded-xl p-3 xs:p-6">
    <div class={`${order === "odd" ? "" : "lg:order-2"}`}>
      {/* Content for the first column */}
      <div class="w-full h-full flex flex-col justify-center items-center xs:px-8 gap-y-4">
        {/* Centered content in the first column */}
        <h2 class="text-2xl xxs:text-3xl md:text-4xl xl:text-5xl font-semibold text-center">{heading}</h2>
        <h3 class="text-xl xs:text-2xl xl:text-3xl font-semibold text-center">{subHeading}</h3>
        <p class="text-lg xs:text-xl text-justify">{projectContent}</p>
        <div class="flex flex-wrap items-center justify-center gap-2 xxs:gap-4 text-md xs:text-xl">
          <slot />
        </div>
      </div>
    </div>
    <div class="flex justify-start items-center mt-6 lg:mt-0">
      {/* Content for the second column */}
      <div class="w-full h-full flex justify-center items-center relative">
        {/* Centered content in the second column */}
        <div class="w-full h-[300px] md:h-[350px] relative overflow-hidden rounded-2xl scroll-div xs:px-8">
          <Image
            title={heading}
            src={`https://assets.chhatreshkhatri.com/${projectImage}`}
            alt={`${heading} Image`}
            width={500}
            height={500}
            class="w-full h-full object-cover object-top transition-all duration-4000 ease-in-out rounded-2xl hover:object-bottom"
          />
        </div>
      </div>
    </div>
  </div>
</div>
