---
import "../styles/global.css";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
const { title = "Chhatresh Khatri | Portfolio", description = "Full stack developer building modern web apps.", keywords = "Chhatresh Khatri,Portfolio,About,Projects,Full Stack Developer,web Development,Web Designer,Website,Code,Innovation, Astro, Next.JS,frontend", page = "/" } = Astro.props;
---

<html lang="en" class="scroll-smooth">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{title}</title>
    <meta name="description" content={description} />
    <meta name="keywords" content={`Chhatresh Khatri,Portfolio,About,Projects,Full Stack Developer,web Development,Web Designer,Website,Code,Innovation, Astro, Next.JS,frontend, ${keywords}`} />
    <meta name="author" content="Chhatresh Khatri" />
    <link rel="shortcut icon" type="image/svg+xml" href="https://cdn.chhatreshkhatri.com/icons/icon.svg" />
    <link rel="icon" type="image/x-icon" href="https://cdn.chhatreshkhatri.com/icons/favicon.ico" />
    <link rel="apple-touch-icon" href="https://cdn.chhatreshkhatri.com/icons/apple-icon.png" />
    <link rel="mask-icon" type="image/svg+xml" href="https://cdn.chhatreshkhatri.com/icons/icon.svg" color="#191919" />
    <link rel="manifest" href={new URL("/app.webmanifest", Astro.site)} />
    <link rel="sitemap" href={new URL("sitemap-index.xml", Astro.site)} />
    <link rel="alternate" type="application/rss+xml" title={title + " RSS Feed"} href={new URL("rss.xml", Astro.site)} />
    <meta name="generator" content={Astro.generator} />
    <link rel="canonical" href={new URL(page, Astro.site)} />
    <meta name="theme-color" content="#191919" />
    <meta property="og:url" content={new URL(page, Astro.site)} />
    <meta property="og:site_name" content={`chhatreshkhatri`} />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="https://cdn.chhatreshkhatri.com/icons/opengraph-image.png" />
    <meta property="og:image:type" content="image/png" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:creator" content="@chhatreshkhatri" />
    <meta name="twitter:site" content="@chhatreshkhatri" />
    <meta name="twitter:title" content={title} />
    <meta name="twitter:description" content={description} />
    <meta name="twitter:image" content="https://cdn.chhatreshkhatri.com/icons/opengraph-image.png" />
    <meta name="robots" content="index, follow" />
    <meta name="allow-search" content="yes" />
    <meta name="identifier-URL" content={new URL(page, Astro.site)} />
    <meta name="audience" content="All" />
    <meta name="classification" content="Portfoflio website, Web Developer" />
    <meta name="language" content="english" />
    <meta http-equiv="content-language" content="en-in" />
    <link rel="preload" as="font" type="font/woff2" href="/fonts/Poppins.woff2" crossorigin="anonymous" />
    <link rel="preload" as="font" type="font/woff2" href="/fonts/PoppinsBold.woff2" crossorigin="anonymous" />
  </head>
  <body class="w-full min-h-screen flex flex-col bg-light text-darked dark:bg-dark dark:text-light font-display">
    <Header />
    <main class="w-full h-full flex items-center flex-col justify-center font-medium px-2 xxs:px-3 xs:px-6 md:px-12 lg:px-20 py-20 gap-y-8">
      <slot /><!-- content is injected here -->
    </main>
    <Footer />
  </body>
</html>
<script>
  const favicon = document.querySelector('link[rel="icon"]');

  const handleVisibilityChange = () => {
    const hidden = document.hidden;
    favicon?.setAttribute("href", `https://cdn.chhatreshkhatri.com/icons/${hidden ? "icon-hidden.svg" : "favicon.ico"}`);
  };

  document.addEventListener("visibilitychange", handleVisibilityChange);
</script>
<style>
  @font-face {
    font-family: "poppins";
    src: url("/fonts/Poppins.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: "poppins";
    src: url("/fonts/PoppinsBold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
  }
</style>
